* {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.rgb {
  margin: 20px 3%;
  padding: 13% 0;
  width: 26%;
  border: 1px solid #999;
  border-radius: 9px;
  box-sizing: border-box;
  background-color: rgb(123,255,255);
}