* {
	margin: 0;
	padding: 0;
}
button {
	margin: 2%;
	padding: 0;
	width: 96%;
	height: 60px;
	border: none;
	border-radius: 7px;
	background-color: #fbb17f;
	cursor: pointer;
}
.magicbox {
	float: left;
	margin: 1.5% 1.66%;
	padding-bottom: 33%; 
	width: 30%;
	box-sizing: border-box;
	border-radius: 5%;
	background-color: #fbb17f;
}